.admission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(501px, 1fr));
  row-gap: 20px;
  background: #f3f8f9;
}

p#text-admission {
  animation: 1s ease-out 0s 1 slideInFromLeft;

  text-align: left;
  margin-bottom: -60px;
  padding-left: 100px;
  padding-right: 100px;
}
.content-admission p#title-admission {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  padding-top: 90px;
  padding-left: 100px;
  font-weight: 700;
  font-family: "Nunito";
  font-size: 30px;
  margin-bottom: 30px;
}
.img-admission {
  padding: 0 80px;
}
.img-admission img {
  height: 100%;
  object-fit: cover;
}
.button {
  animation: 1s ease-out 0s 1 slideInFromLeft;

  background-color: #226fb7;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 100px;
  cursor: pointer; /* Change the cursor to pointer from default each time user hovers the button */
  border-radius: 40px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  font-family: "Rubik";
}
.button:hover {
  opacity: 0.8;
}
#button-admission span {
  font-weight: 900;
  font-size: 12;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media only screen and (min-width: 1025px) {
  .img-admission {
    padding: 0;
  }
}
