.concern {
  position: relative;
  width: 100%;
  padding: 100px 0;
  z-index: 1;
}
.common-side {
  width: 100%;
}

.common-container {
  width: 1270px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.faq-side {
  background-color: #f9f8f8;
  width: 50%;
  padding: 60px 60px 70px;
}
.video-side {
  width: 50%;
}
/* Responsive common */
@media (min-width: 0) {
  .faq-side .faq-title .text-part {
    font-size: 36px;
  }
}
@media (max-width: 1440px) {
  .common-container {
    max-width: 1320px;
  }
  .faq-side .faq-title .text-part {
    font-size: 36px;
  }
}
@media (max-width: 1400px) {
  .common-container {
    max-width: 1140px;
  }
  .faq-side .faq-title .text-part {
    font-size: 36px;
  }
}
@media (max-width: 1200px) {
  .common-container {
    width: 960px;
  }
  .faq-side {
    width: 960px;
  }
  .video-side {
    width: 960px;
  }
  .faq-side .faq-title .text-part {
    font-size: 36px;
  }
}
@media (max-width: 990px) {
  .common-container {
    width: 720px;
  }
  .faq-side {
    width: 720px;
  }
  .video-side {
    width: 720px;
  }
  .faq-side .faq-title .text-part {
    font-size: 30px;
  }
}
@media (max-width: 766px) {
  .common-container {
    width: 540px;
  }
  .faq-side {
    width: 540px;
  }
  .video-side {
    width: 540px;
  }
  .faq-side .faq-title .text-part {
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .common-container {
    width: 100%;
  }
  .faq-side {
    width: 100%;
  }
  .video-side {
    width: 100%;
  }
  .faq-side {
    padding: 30px 30px 40px;
  }
  .faq-side .faq-title .text-part {
    font-size: 30px;
  }
  .video-side .img-part {
    background: url("../img/video_03.png") top/contain no-repeat;
    min-height: 480px;
  }
}

.faq-title {
  margin-bottom: 40px;
}
.faq-side .faq-title .text-part {
  color: #111111;
  line-height: 46px;
  font-weight: 600;
}
.faq-content {
  width: 100%;
}
.accordion-item {
  margin-bottom: 25px;
}
.accordion-header {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  color: #111111;
  font-family: inherit;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  height: 65px;
  padding: 0 25px;
  background-color: white;
  box-shadow: 0 0 49px 0 rgb(0 0 0 / 8%);
  cursor: pointer;
  border-radius: 2px;
}
.accordion-header i {
  position: relative;
  margin-right: 25px;
}

.accordion-header .fa-bell-o {
  margin-left: 3px;
}
.accordion-header .fa-bell-slash-o {
  display: none;
  transition: all 0.1s;
}
.accordion-header.active .fa-bell-slash-o {
  display: block;
  transition: all 0.1s;
}
.accordion-header.active .fa-bell-o {
  display: none;
  transition: all 0.1s;
}
.accordion-header.active {
  background-color: #226fb7;
  color: white;
  transition: all 0.3s ease-in-out;
}
.answer-show {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.answer-show.active {
  max-height: 85px;
  padding: 14px 15px 14px;
  transition: all 0.3s ease-in-out;
}
.accordion-item #anw-3.active {
  max-height: 220px;
  padding: 14px 15px 14px;
  transition: all 0.3s ease-in-out;
}
.accordion-item #anw-4.active {
  max-height: 120px;
  padding: 14px 15px 14px;
  transition: all 0.3s ease-in-out;
}

.img-part {
  position: relative;
  display: inline-block;
  background: url("../img/video_03.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
  min-height: 615px;
}
.img-part .popup-videos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #226fb7;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}
/* Animation play button */
.img-part .popup-videos::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 120px;
  height: 120px;
  animation: pulse-border 2s ease-in-out infinite;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: -1;
}
.img-part .popup-videos:hover::before {
  background-color: #226fb7;
}
@keyframes pulse-border {
  100% {
    width: 240px;
    height: 240px;
    opacity: 0;
  }
}

.img-part .popup-videos i {
  margin-left: 5px;
}
.img-part .popup-videos i::before {
  font-size: 30px;
  line-height: 70px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-play:before {
  content: "\f04b";
}

/* Popup video */
.concern .popup-video {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.concern .popup-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
}
.concern .popup-video .close-span {
  position: absolute;
  background-color: #226fb7;
  top: 40px;
  right: 40px;
  font-size: 30px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}
.concern .popup-video .close-span:hover {
  opacity: 1;
}
@media (max-width: 900px) {
  .concern .popup-video iframe {
    width: 90%;
  }
}
