/* == HEADER == */
header{
    position: absolute;
    width: 100%;
}
.navbar{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.navbar-logo img{
    width:260px;
    height: 40px;
    object-fit: cover;
}
/* menu */

.navbar-links{
    position: absolute;
    width: 100%;
    font-family: 'Rubik';
    font-size: 17px;
    top: 80px;
    transition: all 0.4s ease;
    background-color: white;
    /* border: 1px solid red; */
    opacity: 0;
    z-index: 6;
    
}
.navbar-links.navbar-open{
    opacity: 1;
    transition: var(--smooth);
    
}
.navbar-link{
    list-style: none;
    padding: 25px 30px ;
    font-weight: 500;
    border-bottom: 1px solid #111111;
}
.navbar-link:nth-child(3){
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar-link a{
    text-decoration: none;
    color: #111111;
}
.navbar-link:hover .navbar-link-title,
.navbar-link:hover .link .title
{
    color: var(--bs-cyan);
}



/* .navbar-link .link::after{
    display: block;
    content: "+";
} */
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.submenu{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: white;
    font-weight: 200;
    font-size: 14px;
    /* border: 1px solid black; */
    visibility: hidden;
    /* transition: var(--smooth); */
    /* display: none; */
}
.submenu.submenu-open{
    visibility: visible;
    transition: var(--smooth);
}
.submenu li{
    padding: 15px 40px;
}
/* submenu open button */
.submenu-open-btn {
    cursor: pointer;
    /* background-color: #111111; */
    transition: var(--smooth);
 }
 
 .submenu-open-btn.submenu-open-btn-open{
     transform: rotateX(180deg);
     transition: var(--smooth);
 }
 /* submenu close buttn */
.submenu-close-btn{
    text-align: center;
    padding: 15px 0;
    background-color:#f6f3ed ;
    cursor: pointer;
}
.submenu-close-btn i{
    font-weight: 800;
    margin-right: 3px;
}


/* menu button */
/* == menu button == */
.navbar-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 150px;
    transition: var(--smooth);
    z-index: 6; 
}
.navbar-icon{
    width: 30px;
    height: 4px;
    background-color: var(--bs-gray-dark);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}
.navbar-icon::before,
.navbar-icon::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: var(--bs-gray-dark);
    border-radius: 5px;
    transition: var(--smooth);
}
.navbar-icon::before{
    transform: translateY(-9px);
}
.navbar-icon::after{
    transform: translateY(9px);
}
/* == button animation == */
.open .navbar-icon{
    transform: translateX(-50px);
    background: transparent;
}
.open .navbar-icon::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar-icon::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
/* == RIGHT SIDE BAR */
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color:var(--bs-light);
    padding: 30px 50px;
    transform: translateX(100%);
    transition: var(--smooth);
    overflow-y: scroll;
    bottom: 0;
    z-index: 7;
}

.side-bar.side-bar-open{
    transition: var(--smooth);
    transform: translateX(0%);
    opacity: 1;
}
/* side bar close button */
.close-button i{
background-color: var(--bs-indigo);
color: var(--bs-light);
font-size: 30px;
padding: 9px 15px;
border-radius: 30px;
transform: rotate(-90deg);
transition: 0.3s;
}
.close-button i:hover{
    transform: rotate(90deg);
    transition: 0.3s;
}
/* sidebar  decs */
.description{
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    color: var(--bs-secondary);
}
/* side bar logo */
.side-bar-logo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.side-bar-logo img{
    width: 200px;
    height: 40px;
    object-fit: cover;
}
/* side bar images */
.sidebar-images{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 30px;
}
.image{
    width: 116px;
    height: 116px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* map */
.map{
    margin-bottom: 30px;
}
/* facebook */
.facebook{
    text-align: center;
}
@media (min-width: 1000px) {
    .navbar{
        position: fixed;
    }
    .navbar-links {
      position: initial;
      /* transform: translateX(0); */
      opacity: 1;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 100px;
    }
    .navbar-logo{
        margin-left: 100px;
    }
    .navbar-icons{
        margin-right: 50px;
    }
    .navbar-link{
        border: none;
    }
    .close-button i:hover{
        cursor: pointer;
    }

    /* .side-bar{
        z-index: 10;
    }
    .side-bar.side-bar-open{
       
        opacity: 1;
    } */


    .submenu{
        width: 120%;
        background-color: white;
        /* box-shadow: 0 -5px 0.4px 1px rgba(0, 0, 0, 0.05); */
        transform: translateY(-10px);
        opacity: 0;
        transition: var(--smooth);
    }
    .navbar-link:nth-child(3):hover .submenu{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        transition: var(--smooth)
        /* transition-delay: 0, 0 ,0.3s ; */
    }
    .navbar-link:nth-child(3):hover .submenu-open-btn{
        transform: rotateX(180deg);
        transition: var(--smooth);
    }
    .submenu a:hover{
        color: var(--bs-info);
    }
    .submenu-close-btn{
        display: none;
    }
    .submenu-open-btn{
        margin-left: 10px;
        cursor: default;
    }
}